.idea
.settings
.project
.pydevproject
Tutorials/temp
data/*.log
**/__pycache__/*
**/build/*
**/*.so
**/.ipynb_checkpoints
.pkl
*.gz
*.pyc*
#*/*egg-info*/*.*
*egg-info*
*dist*
*build*
.ipynb_checkpoints
